.home-banner{
    width: 100%;
    background-image: url("../images/john-schnobrich-2FPjlAyMQTA-unsplash-min.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 90%;
    position: relative;
}

.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.banner-text h2{
    font-weight: bold;
    font-size: 45px;
    text-shadow: 3px 3px #000000;
}

.banner-form{
    display: flex;
}

.banner-search-icon{
    position: relative;
    left: 30px;
    top: 14px;
}

.banner-search-element{
    height: 50px;
}

.banner-search-input{
    padding-left: 35px;
}

.deals-section{
    padding: 20px 0;
    width: 80%;
    margin-left: 10%;
}

.section-header h3{
    font-weight: bold;
}

.step-icon{
    font-size: 100px;
}

.step-indicator{
    font-weight: bold;
    font-size: 20px;
}

.step-description{
    text-justify: inter-word;
}

.product-img-container{
    width: 100%;
    height: 300px;
}

.product-img-container img{
    width: 100%;
    height: 100%;
}

.product-img-container{
    border: 1px solid rgb(204, 204, 204);
}

.product-details{
    padding-top: 10px;
}

.product-link{
    text-decoration: none!important;
    color: black;
}

@media (min-width:850px){
    .banner-text{
        width: 60%;
    }

    .banner-text h2{
        font-size: 65px;
    }
}
