.login-container{
    display: block;
    width: 100%;
    padding: 50px;
}

.login-gif img{
    width: 100%;
}

.login-control{
    border: none;
    border-bottom: 1px solid black;
    outline: none!important;
    border-radius: none!important;
    width: 100%;
    margin-top: 10px;
    padding-left: 5px;
    background: transparent;
}

.login-input{
    position: relative;
}

.login-row{
    padding-left: 20px;
}

.login-link, .login-link:hover{
    color: black;
}

@media (min-width:850px){

    .login-container{
        display: flex;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .login-gif, .login-input{
        width: 50%;
    }

    .login-form-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}

@media(min-width:1250px){
    .login-container{
        display: flex;
        width: 60%;
    }
}